body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}


.btn_add{

 border-radius: 10px;
 height: 30px;
 width: 80px;
 background-color: red;
 color: white;
 margin: 10px;

}

.img_folder{
height:70px
}


.container_folder{
margin : 20px;
height : 120px;
width :100px
}

.up_main{
display: flex;
justify-content: center;
background-color: aqua;
align-items: center;
height: 80px;
width: 100%;

}

.input_nav{
  height:30px
}

div_ajj_folder.style.position = "absolute"
div_ajj_folder.style.top = "100px"
div_ajj_folder.style.left = "150px"



.div_ajj_folder{
position:absolute;
top:100px;
left:150px;


}
